### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
players = [len(set(purchase_data['SN']))]
total_players={'Total players': players}
pd.DataFrame(total_players)

   Total players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [71]:
item_set = set(purchase_data['Item Name'])
analysis_players={'Number of Unique Items': [len(item_set)],'Average Price': [round(purchase_data['Price'].mean(),2)],
                 'Number of purchases': [purchase_data.Price.count()],'Total Revenue': [purchase_data.Price.sum()]}
x = pd.DataFrame(analysis_players)
x['Average Price']= x['Average Price'].map("${:,.2f}".format)
x['Total Revenue']= x['Total Revenue'].map("${:,.2f}".format)
x

   Number of Unique Items Average Price  Number of purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [73]:
Clients_Data = purchase_data.drop_duplicates(subset =["SN"]) 
gender = Clients_Data.Gender.value_counts().rename_axis('Gender').reset_index(name='Total counts')
gender['Percentage of players'] = round(gender['Total counts']/players * 100,2).map("{:,.2f}%".format)
gender

                  Gender  Total counts Percentage of players
0                   Male           484                84.03%
1                 Female            81                14.06%
2  Other / Non-Disclosed            11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [78]:
Gender_group= purchase_data.groupby(['Gender'])
w = Clients_Data.Gender.value_counts().rename_axis('Gender')

a = Gender_group['Purchase ID'].count()
b = round(Gender_group['Price'].sum(),2)
c = round(Gender_group['Price'].sum()/a,2)
d = round(Gender_group['Price'].sum()/w,2)

#print(c)
summary_df = pd.DataFrame({"Purchase Count": a,
                                    "Average Purchase Price": c.map("${:,.2f}".format),"Total Purchase Value": b.map("${:,.2f}".format),"Avg Total Purchase per Person": d.map("${:,.2f}".format)})
summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [79]:
bins = [0,9, 14, 19, 24, 29,34,39,100]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29","30-34","35-39","40+"]
Clients_Data['Age ranges'] = pd.cut(Clients_Data["Age"], bins, labels=group_names, include_lowest=True)
q = Clients_Data.groupby("Age ranges")
df = q['Purchase ID'].count().reset_index(name='Total counts')
df['Percentage of players'] = round(df['Total counts']/players * 100,2).map("{:,.2f}%".format)
df

/Users/jordanvillalobos/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

  Age ranges  Total counts Percentage of players
0        <10            17                 2.95%
1      10-14            22                 3.82%
2      15-19           107                18.58%
3      20-24           258                44.79%
4      25-29            77                13.37%
5      30-34            52                 9.03%
6      35-39            31                 5.38%
7        40+            12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [80]:
bins = [0,9, 14, 19, 24, 29,34,39,100]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29","30-34","35-39","40+"]
purchase_data['Age ranges'] = pd.cut(purchase_data["Age"], bins, labels=group_names, include_lowest=True)
q1 = purchase_data.groupby("Age ranges")
Summary = q1.Price.count().reset_index(name='Total counts')
sums=q1.Price.sum().reset_index(name='sums')
Summary['Average purchase price'] = round(sums['sums']/Summary['Total counts'],2).map("${:,.2f}".format)
Summary['Total purchase value'] = sums['sums'].map("${:,.2f}".format)
Summary['Avg Total Purchase per Person'] = round(sums['sums']/df['Total counts'],2) .map("${:,.2f}".format)
Summary

,Age ranges,Total counts,Average purchase price,Total purchase value,Avg Total Purchase per Person
0,<10,23,$3.35,$77.13,$4.54
1,10-14,28,$2.96,$82.78,$3.76
2,15-19,136,$3.04,$412.89,$3.86
3,20-24,365,$3.05,"$1,114.06",$4.32
4,25-29,101,$2.90,$293.00,$3.81
5,30-34,73,$2.93,$214.00,$4.12
6,35-39,41,$3.60,$147.67,$4.76
7,40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [81]:
top_spenders_grouped= purchase_data.groupby('SN')
Summary_Spenders = top_spenders_grouped.Price.count().reset_index(name='Total counts')
Sums = top_spenders_grouped.Price.sum().reset_index(name='sums')
Summary_Spenders['Average Purchase Price'] = round(Sums['sums']/Summary_Spenders['Total counts'],2).map("${:,.2f}".format)
Summary_Spenders['Total Purchase Value'] = Sums['sums'].map("${:,.2f}".format)
x = Summary_Spenders.sort_values("Total counts", ascending=False)
x.head()

              SN  Total counts Average Purchase Price Total Purchase Value
360    Lisosia93             5                  $3.79               $18.96
275       Iral74             4                  $3.40               $13.62
246  Idastidru52             4                  $3.86               $15.45
75        Asur53             3                  $2.48                $7.44
274    Inguron55             3                  $3.70               $11.11

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [89]:
Popular_grouped= purchase_data.groupby(['Item ID','Item Name'])
Summary_Popular = Popular_grouped.Age.count().reset_index(name='Purchase Count')
a2 = Popular_grouped.Price.sum().reset_index(name='Sums')
Summary_Popular['Item Price'] = round(a2['Sums']/Summary_Popular['Purchase Count'],2)
Summary_Popular['Total Purchase Value']= a2['Sums']
Summary_Popular
x1 = Summary_Popular.sort_values("Purchase Count", ascending=False)
x1['Item Price'] = x1['Item Price'].map("${:,.2f}".format)
x1['Total Purchase Value'] = x1['Total Purchase Value'].map("${:,.2f}".format)
x1.head()

,Item ID,Item Name,Purchase Count,Item Price,Total Purchase Value
90,92,Final Critic,13,$4.61,$59.99
174,178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
141,145,Fiery Glass Crusader,9,$4.58,$41.22
129,132,Persuasion,9,$3.22,$28.99
105,108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [88]:
x2 = Summary_Popular.sort_values("Total Purchase Value", ascending=False)
x2['Item Price'] = x2['Item Price'].map("${:,.2f}".format)
x2['Total Purchase Value'] = x2['Total Purchase Value'].map("${:,.2f}".format)
x2.head()

,Item ID,Item Name,Purchase Count,Item Price,Total Purchase Value
90,92,Final Critic,13,$4.61,$59.99
174,178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
80,82,Nirvana,9,$4.90,$44.10
141,145,Fiery Glass Crusader,9,$4.58,$41.22
100,103,Singed Scalpel,8,$4.35,$34.80